---
---

@import "{{ site.theme }}";

body {
  background-color: #0d1117 !important;
  color: #c9d1d9 !important;
}

a { color: #59ffb6 !important; }
code { color: #59ffb6; background-color: #161b22 !important; border: 1px solid #30363d; }
pre { background-color: #161b22 !important; }
h1, h2, h3, h4, h5, h6 { color: #f0f6fc !important; border-bottom-color: #30363d !important; }
h1 { color: #59ffb6 !important; }
.markdown-body hr { height: .10em !important; background-color: #87a19514 !important; }
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 { border: 0 !important; }
.highlight { background-color: #000000; }
//.footer { display: none !important;}
