---
---

@import "{{ site.theme }}";

html {
  scrollbar-width: thin;
  scrollbar-color: #59ffb6 #0d1117;
}
body {
  background-color: #0d1117 !important;
  color: #f8fafa !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0d1117;
}

::-webkit-scrollbar-thumb {
  background: #59ffb6;
  border-radius: 10px;
  border: 2px solid #0d1117;
}

::-webkit-scrollbar-thumb:hover {
  background: #45d498;
}
a { color: #59ffb6 !important; }
code { color: #59ffb6; background-color: #161b22 !important; border: 1px solid #30363d; }
pre { background-color: #161b22 !important; }
h1, h2, h3, h4, h5, h6 { color: #f0f6fc !important; border-bottom-color: #30363d !important; }
h1 { color: #59ffb6 !important; }
.markdown-body hr { height: .10em !important; background-color: #87a19514 !important; }
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 { border: 0 !important; }
.highlight { background-color: #000000; }
pre,code { background-color: #000000 !important; }
//.footer { display: none !important;}
.border-top {border-top: 1px #23fdbb solid !important;}
.footer{ font-size: .8rem !important; }

.markdown-body blockquote { color: #b5bfc9; }
.markdown-body table tr { background-color: #000000 !important; }
.markdown-body table tr:nth-child(2n) { background-color: #0c1117 !important; }

.highlight .nn, .highlight .bp { color: #b3bcc9 !important; }
.highlight .nt { color: #7ccef1 !important; }
.highlight .c, .highlight .cd, .highlight .kn { color: #4e6359 !important; }
.highlight .k, .highlight .kv, .highlight .ow, .highlight .kd, .highlight .kr, .highlight .kc, .highlight .kp {  color: #eff2f5 !important; } // full light
.highlight .nb { color: #27bced !important; }
.highlight .o { color: #9cb9a5 !important; }
.highlight .nv { color: #08e4e4 !important; }
.highlight .kt { color: #78a7d8 !important; }
.highlight .gi { color: #000000 !important; background-color: #31fca3 !important; }
.highlight .gd { color: #ffffff !important; background-color: #820101 !important; }




